<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="globalDiv">
        <h1>ЗАДАНИЕ ОТ НАЧАЛЬНИКА</h1>
    </div>
    <h1>Your tasks here <h2><button id="cleanB">clean</button></h2></h1>
    <div class="board">
        <div class="row">
                <div class="todo col">
                    <h2>to do</h2>
                    <button id="todoB">+ ADD</button>
                        <br>
                    <div id="todoDiv">
                        
                    </div>
                </div>
                <div class="doing col">
                    <h2>doing</h2>
                    <button id="doingB">+ ADD</button>
                        <br>
                    <div id="doingDiv">
                        
                    </div>
                    
                </div>
                <div class="done col">
                    <h2>done</h2>
                    <button id="doneB">+ ADD</button>
                        <br>
                    <div id="doneDiv">
                        
                    </div>
                   
            </div>
        </div>
    </div>
</body>

</html>